# Dataset & Model
dataset/
*.h5
!brahmi_model.h5
*.onnx
!brahmi_model.onnx
# Temporary SavedModel dirs created by conversion scripts
brahmi_savedmodel_tmp/

# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

.vercel
